

/* Importation des polices d'écritures */

@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* Général */

*{
    margin: 0;
    color: black;
    font-family: "Noto Sans", sans-serif;
}

a{
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    &:hover{
        transition: all 0.3s ease-in-out;
    }
}

/* Classes */

.Orange{
    color: #CC3900;
    transition: all 0.3s ease-in-out;
}

.Hallelujah{
    font-family: "Gloria Hallelujah", cursive;
}

.fa-bars{
    display: none;
}   

/* Header */

header>div{
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header>div>a>img{
    width: 180px;
}

header>div>.Navigateur{
    display: flex;
    gap: 30px;
    list-style-type: none;
}

header>div>.Navigateur>li{
    margin: 4px;
}

header>div>.Navigateur>li>a{
    font-size: 16px;
    font-weight: 600;

    &:hover{
        color: #CC3900;
    }
}

header>div>.Navigateur>.Orange:hover{
    color: black;
}

header>div>.Reseaux{
    display: flex;
    gap:25px
}

header>div>.Reseaux>a>i{
    height: 24px;
}


header>div>.Reseaux>a>.Orange:hover{
    color: black;
    transition: all 0.3s ease-in-out;
}

/* Main */

main{margin: 50px 0;}

main>#Section1{
    background-color: #FBBBCD;
    height: 400px;
    display: flex;
    
}

main>#Section1>h1{
    margin: auto;
    max-width: max-content;
    font-size: 45px;
    }

main>p{
    color: #7A7A7A;
    font-size: 14px;
    text-align: center;
    margin: 30px;
}



main>#Section2>div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 560px 560px 560px;
    gap: 20px;
    max-width: 1420px;
    margin: auto;
}

main>#Section2>div>article{
    max-width: 463px;
}

main>#Section2>div>article>img{
    max-width: 463px;
    width: 100%;
}

main>#Section2>div>article>h2{
    font-size: 16px;
    color: #333333;
}

main>#Section2>div>article>.Date{
    font-size: 14px;
    color: #9C9C9C;
}

main>#Section2>div>article>.Date>span{
    color: #9C9C9C;
    font-size: 16px;
}

main>#Section2>div>article>p{
    color: #6A6A6A;
    font-size: 14px;
    max-width: 463px;
}

main>#Section2>div>article>a{
    color: #605BE5;
    font-size: 14px;
}

/* Footer */

footer{
    padding-bottom: 50px;
}

footer>div{
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer>div>a>img{
    width: 180px;
}

footer>div>article>.Navigateur{
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
    list-style-type: none;
}

footer>div>article>.Navigateur>li{
    margin: 4px;
}

footer>div>article>.Navigateur>li>a{
    font-size: 16px;
    font-weight: 600;

    &:hover{
        color: #CC3900;
    }
}

footer>div>article>.Navigateur>li>.Orange:hover{
    color: black;
}



footer>div>article{
    text-align: center;
}

footer>div>article>p *{
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

footer>div>article>p>a:hover{
    color: #CC3900;
}



footer>div>.Reseaux{
    display: flex;
    gap:25px
}

footer>div>.Reseaux>a>i{
    height: 24px;
}


footer>div>.Reseaux>a>.Orange:hover{
    color: black;
    transition: all 0.3s ease-in-out;
}


@media screen and (max-width:1024px){

    header>div>.Navigateur{
        display: none;
    }

    header>div>.Reseaux{
        display: none;
    }

    footer>div>article>.Navigateur{
        display: none;
    }

    header>div{
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        justify-items: center;
    }

    .fa-bars{
        display: block;
        margin: auto;
    }

    
    main>#Section2>div{
        grid-template-columns: repeat(2, 1fr);
        margin-left: 20px;
    }

}

@media screen and (max-width:767px){
    footer>div{
        justify-content: center
    }
    footer>div>a{
        display: none;
    }
    
    main>#Section2>div{
        grid-template-columns: 1fr;
        margin-left: 0px;
        justify-items: center;
    }
}