
/* Importation des polices d'écritures */

@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* Général */

*{
    margin: 0;
    color: black;
    font-family: "Noto Sans", sans-serif;
}

a{
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    &:hover{
        transition: all 0.3s ease-in-out;
    }
}

/* Classes */

.Orange{
    color: #CC3900;
    transition: all 0.3s ease-in-out;
}

.Hallelujah{
    font-family: "Gloria Hallelujah", cursive;
}

.fa-bars{
    display: none;
}   

/* Header */

header>div{
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header>div>a>img{
    width: 180px;
}

header>div>.Navigateur{
    display: flex;
    gap: 30px;
    list-style-type: none;
}

header>div>.Navigateur>li{
    margin: 4px;
}

header>div>.Navigateur>li>a{
    font-size: 16px;
    font-weight: 600;

    &:hover{
        color: #CC3900;
    }
}

header>div>.Navigateur>.Orange:hover{
    color: black;
}

header>div>.Reseaux{
    display: flex;
    gap:25px
}

header>div>.Reseaux>a>i{
    height: 24px;
}


header>div>.Reseaux>a>.Orange:hover{
    color: black;
    transition: all 0.3s ease-in-out;
}


/* Main */

main{
    margin: 50px 0;
}

main>div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1440px;
    margin: auto;
}

main>div>article{
    max-width: 550px;
}

main>div>article>h1{
    font-size: 45px
}

main>div>article>p{
    font-size: 16px;
    margin: 20px 0;
}

main>div>article>div{
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 10px;
    margin: 10px;
}
main>div>article>div>i{
    color: #CC3900;
    padding-top: 10px;
}

main>div>article>div>p{
    font-size:20px ;
}

main>div>form{
    background-image: url(../img/Fond_pastille.png);
    background-repeat: no-repeat;
    background-position: 90%;
}

main>div>form>div{
    margin-top: 20px;
    margin-left: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: 445px;
    
}

main>div>form>div>input, main>div>form>div>textarea, button{
    border: 1px solid #818A91;
    border-radius: 3px;
    padding: 8px;
}

button{
    color: white;
    background-color: #FBBBCD;
    
    border: 1px solid #FBBBCD;
    transition: all 0.3s ease-in-out;

    &:hover{
        background-color: white;
        transition: all 0.3s ease-in-out;
        color: #FBBBCD;
    }
}

textarea{
    resize: none;
}


/* Footer */

footer{
    padding-bottom: 50px;
}

footer>div{
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer>div>a>img{
    width: 180px;
}

footer>div>article>.Navigateur{
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
    list-style-type: none;
}

footer>div>article>.Navigateur>li{
    margin: 4px;
}

footer>div>article>.Navigateur>li>a{
    font-size: 16px;
    font-weight: 600;

    &:hover{
        color: #CC3900;
    }
}

footer>div>article>.Navigateur>li>.Orange:hover{
    color: black;
}



footer>div>article{
    text-align: center;
}

footer>div>article>p *{
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

footer>div>article>p>a:hover{
    color: #CC3900;
}



footer>div>.Reseaux{
    display: flex;
    gap:25px
}

footer>div>.Reseaux>a>i{
    height: 24px;
}


footer>div>.Reseaux>a>.Orange:hover{
    color: black;
    transition: all 0.3s ease-in-out;
}

/* Responsive */

@media screen and (max-width:1024px){

    header>div>.Navigateur{
        display: none;
    }

    header>div>.Reseaux{
        display: none;
    }

    footer>div>article>.Navigateur{
        display: none;
    }

    header>div{
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        justify-items: center;
    }

    .fa-bars{
        display: block;
        margin: auto;
    }

    main>div>article{
        margin-left: 10px;
    }
}

@media screen and (max-width:767px){
    main>div{
        grid-template-columns: 1fr;
        gap: 30px;
    }

    footer>div{
        justify-content: center
    }
    footer>div>a{
        display: none;
    }
    
}

@media screen and (max-width:475px){
    main>div>form>div{
        grid-template-columns: 280px;
    }
}