
/* Importation des polices d'écritures */

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* Général */

*{
    margin: 0;
    color: black;
}

a{
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    &:hover{
        transition: all 0.3s ease-in-out;
    }
}

/* Classes */

.Orange{
    color: #CC3900;
    transition: all 0.3s ease-in-out;
}

/* Header */

header>div{
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center
}

header>div>a>img{
    width: 180px;
}

header>div>.Navigateur{
    display: flex;
    gap: 30px;
}

header>div>.Navigateur>a{
    font-size: 16px;
    font-weight: 600;
    font-family: "Noto Sans", sans-serif;

    &:hover{
        color: #CC3900;
    }
}

header>div>.Navigateur>.Orange:hover{
    color: black;
}

header>div>.Reseaux{
    display: flex;
    gap:25px
}

header>div>.Reseaux>a>.Orange:hover{
    color: black;
    transition: all 0.3s ease-in-out;
}
