
/* Importation des polices d'écritures */

@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* Général */

*{
    margin: 0;
    color: black;
    font-family: "Noto Sans", sans-serif;
}

a{
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    &:hover{
        transition: all 0.3s ease-in-out;
    }
}

/* Classes */

.Orange{
    color: #CC3900;
    transition: all 0.3s ease-in-out;
}

.Hallelujah{
    font-family: "Gloria Hallelujah", cursive;
}

/* Header */

header>div{
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header>div>a>img{
    width: 180px;
}

header>div>.Navigateur{
    display: flex;
    gap: 30px;
    list-style-type: none;
}

header>div>.Navigateur>li{
    margin: 4px;
}

header>div>.Navigateur>li>a{
    font-size: 16px;
    font-weight: 600;

    &:hover{
        color: #CC3900;
    }
}

header>div>.Navigateur>.Orange:hover{
    color: black;
}

header>div>.Reseaux{
    display: flex;
    gap:25px
}

header>div>.Reseaux>a>i{
    height: 24px;
}


header>div>.Reseaux>a>.Orange:hover{
    color: black;
    transition: all 0.3s ease-in-out;
}

/* Main */

/* Section 1 */

main{
    margin: 50px 0;
}

main>#Section1{
    background-image: url(../img/Fond_pastille.png);
    background-position: 104%;
    background-repeat: no-repeat;
    background-size: 900px;
}

main>#Section1>div{
    max-width: 1440px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,max-content);
    justify-content: space-between;
    align-items: center;
    padding: 200px 0;

}

main>#Section1>div>article{
    max-width: 514px;
}

main>#Section1>div>article>h1{
    display: flex;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}
main>#Section1>div>article>h1>span>hr{
    margin-top: 10px;
    margin-right: 10px;
    width: 50px;
    height: 1px;
    background-color: #CC3900;
    border: none;

}

main>#Section1>div>article>h2{
    font-size: 45px;
    font-weight: 400;
    padding-top: 30px;
}
main>#Section1>div>article>h3{
    font-size: 28px;
    font-weight: 400;
    padding-top: 7px;
    
}

main>#Section1>div>article>p{
    font-size: 16px;
    font-weight: 400;
    padding-top:10px ;
    margin-bottom: 50px;
}


main>#Section1>div>article>a{
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #FBBBCD;
    padding: 13px 25px;
    
}


main>#Section1>div>img{
    max-width: 552px;
}

/* Section 2 */

main>#Section2>div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

main>#Section2>div>div{
    max-height: 864px;
    background-color: #FBBBCD;
    display: flex;
}

main>#Section2>div>div>article{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 864px;
    max-width: 952px;
}

main>#Section2>div>div>article>h2{
    margin-right: 12%;
    font-size: 45px;
    margin-bottom: 40px;
}

main>#Section2>div>div>article>p{
    margin-bottom: 20px;
    font-size: 18px;
}


main>#Section2>div>div>article *{
    max-width: 592px;
}


main>#Section2>div>#Div_Peinture{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 390px 390px;
    gap: 10px;
    margin: 10px;
}

main>#Section2>div>#Div_Peinture>#Peinture1{
    width: 100%;
    height: 100%;
}

main>#Section2>div>#Div_Peinture>#Peinture2{
    object-fit:cover;
    height: 100%;
    width: 100%;
}

main>#Section2>div>#Div_Peinture>#Peinture3{
    object-fit: cover;
    height: 100%;
    width: 100%;
}


main>#Section2>div>#Div_Peinture>#Peinture4{
    object-fit:cover;
    height: 100%;
    width: 100%;
}


main>#Section2>div>#Div_Peinture>#Peinture5{
    grid-column-start: 1;
    grid-column-end: 3;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
main>#Section2>div>#Div_Peinture>#Peinture6{
    grid-column-start: 3;
    grid-column-end: 5;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

main>#Section2>div>#Div_Peinture>a{
    text-decoration: underline;
    max-width: max-content;
    font-size: 16px;
    &:hover{
        color: #CC3900;
        text-decoration: none;
    }
}


/* Section3 */

main>#Section3{
    max-width: 1440px;
    margin: auto;
}

main>#Section3>#Section3_div1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main>#Section3>#Section3_div1>h2{
    font-size: 45px;
}
main>#Section3>#Section3_div1>a{
    font-size: 16px;
    padding: 10px 26px;
    border: #FBBBCD 1px solid;

    &:hover{
        background-color: #FBBBCD;
    }
}

main>#Section3>#Section3_div2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
}

main>#Section3>#Section3_div2>article{
    max-width: 332px;
}
main>#Section3>#Section3_div2>article>img{
    object-fit: cover;
    max-height: 300px;
    height: 100%;
    width: 100%;
}

main>#Section3>#Section3_div2>article>h3{
    font-size: 25px;
    text-align: center;
}

main>#Section3>#Section3_div2>article>p{
    font-size: 16px;
    line-height: 24px;
}

/* Section 4 */

main>#Section4{
    max-width: 1440px;
    margin: auto;
    margin-top: 50px;
}

main>#Section4>h2{
    font-size: 45px;
    margin-bottom: 40px;    
    text-align: center;
}

main>#Section4>div{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

main>#Section4>div>article{
    max-width: 453px;
}

main>#Section4>div>article>img{
    max-height: 300px;
    width: 100%;
    object-fit: cover;
}

main>#Section4>div>article>h3{
    text-align: center;
    font-size: 18px;
}

main>#Section4>div>article>p{
    font-size: 16px;
    margin-bottom: 20px;
}

main>#Section4>div>article>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main>#Section4>div>article>div>a{
    font-size: 16px;
    padding: 10px 26px;
    border: #FBBBCD 1px solid;

    &:hover{
        background-color: #FBBBCD;
    }
}

main>#Section4>div>article>div>div{
    padding-left: 20px;
    display: flex;
    gap: 20px;
}

main>#Section5{
    max-width: 1440px;
    margin: auto;
    margin-top: 50px;
}

main>#Section5>#Section5_div1{
    display: flex;
    justify-content: space-between;
}

main>#Section5>#Section5_div1>a{
    font-size: 16px;
    padding: 10px 26px;
    border: #FBBBCD 1px solid;

    &:hover{
        background-color: #FBBBCD;
    }
}

main>#Section5>#Section5_div2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

main>#Section5>#Section5_div2>article>img{
    max-width: 464px;
    width: 100%;
    object-fit: cover;
}

main>#Section5>#Section5_div2>article>h3{
    font-size: 18px;
}
main>#Section5>#Section5_div2>article>h4{
    font-size: 14px;
}
main>#Section5>#Section5_div2>article>p{
    max-width: 460;
    font-size: 16px;
    line-height: 24px;
}

main>#Section5>#Section5_div2>article>a{
    font-size: 16px;
    font-weight: 600;
}

/* Section 6 */

main>#Section6{
    margin-top: 50px;
    background-color: #CC3900;
    height: 553px;
    align-items: center;
    display: flex;
}

main>#Section6>div{
    max-width: 800px;
    margin: auto;
    height: 333px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

main>#Section6>div *{
    color: white;
    max-width: 689px;
    margin-bottom: 30px;
}

main>#Section6>div>h2{
    font-size: 45px;
    line-height: 45px;
}

main>#Section6>div>p{
    font-size: 18px;
    line-height: 27px;
}

main>#Section6>div>a{
    font-size: 16px;
    padding: 10px 26px;
    border: #FBBBCD 1px solid;

    &:hover{
        background-color: #FBBBCD;
    }
}

/* Footer */

footer>div{
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer>div>a>img{
    width: 180px;
}

footer>div>article>.Navigateur{
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
    list-style-type: none;
}

footer>div>article>.Navigateur>li{
    margin: 4px;
}

footer>div>article>.Navigateur>li>a{
    font-size: 16px;
    font-weight: 600;

    &:hover{
        color: #CC3900;
    }
}

footer>div>article>.Navigateur>li>.Orange:hover{
    color: black;
}



footer>div>article{
    text-align: center;
}

footer>div>article>p *{
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

footer>div>article>p>a:hover{
    color: #CC3900;
}



footer>div>.Reseaux{
    display: flex;
    gap:25px
}

footer>div>.Reseaux>a>i{
    height: 24px;
}


footer>div>.Reseaux>a>.Orange:hover{
    color: black;
    transition: all 0.3s ease-in-out;
}
